# db
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# broker
RABBITMQ_URL=
NODE_HEALTH_CHECK_QUEUE=

# auth
JWT_SECRET=
ACCESS_TOKEN_LIFETIME_S=3600
REFRESH_TOKEN_LIFETIME_S=604800
RESET_PASSWORD_TOKEN_SECRET=
VERIFICATION_TOKEN_SECRET=
